{% extends 'layout.html' %}

{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> {% endblock %}
<title>{% block title %} Log in -Calendly {% endblock %}</title>

{% block content %}
    <div class="container mt-5 ">
        <div class="text-center col">
            <a href="{{ url_for('calhome') }}">
                <img src="{{ url_for('static', filename='images/calogo.svg') }}" alt="calendly logo" width="150">
            </a>
            <p>Welcome Back! {{ em2 |safe}}</p>
        </div>
    <div class="p-4 signup mx-auto mt-4">
        <form method="post" class="mb-3" novalidate>
            {{ form.hidden_tag() }}
            <!-- <div class="form-group mb-3">
                <label class="mb-2 fw-bold check" for="email">Enter your email</label>
                <input type="password" id="passwd"
                name="password" placeholder="johndoe@xyz.com"
                class="form-control">
            </div> -->
            
            <div class="form-group mb-3">
                {{ form.password.label(class='form-control-label fw-bold mb-2') }}
                {{ form.password(class='form-control mb-2', placeholder='password')}}
                {% for error in form.password.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
            </div>
            {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <p class="text-center check">I forgot my password Please
        <a href="#" class="text-primary text-decoration-none">Send me a recovery email.</a> and 
    </p>
    <p class="text-center check">Don't have an account? <a class="text-primary text-decoration-none" href="{{ url_for('register') }}">Sign up</a></p></p>
{% endblock %}
