{% extends 'layout.html' %}

{% block link %} <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }}"> {% endblock %}

{% block title %} Sign Up-Calendly {% endblock %}
{% block content %}
    <div class="container mt-5 ">
        <div class="text-center col">
        <a href="{{ url_for('calhome') }}">
            <img src="{{ url_for('static', filename='images/calogo.svg') }}" alt="calendly logo" width="150">
        </a>
        <p class="text-center mt-2 mb-4">Sign up with calendly for free</p>
        </div>
    <div class="p-4 signup mx-auto">
        <form action="#" class="mb-3" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3">
                {{ form.email.label(class="mt-3 mb-2 fw-bold check")}}
                {{ form.email(class="form-control", placeholder="Enter your email", value=em)}}
            </div>
            <div class="form-group mb-3">
                {{ form.fullname.label(class="mb-2 fw-bold check")}}
                {{ form.fullname(class="form-control", placeholder="John Doe")}}
            </div>
            <div class="form-group mb-3">
                {{ form.password.label(class="mb-2 fw-bold check")}}
                {{ form.password(class="form-control", placeholder="password")}}
            </div>
            <ul class="text-danger check">
            <li>use a few words, avoid common phrase</li>
            <li>No need for symbols, digits or uppercase letters</li>
            </ul>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <p class="text-center check">By Creating a Calendly account you agree to 
        <a href="#" class="text-primary text-decoration-none">Calendly's Terms</a> and 
        <a class="text-primary text-decoration-none" href="#"> Privacy Policy</a></p>
{% endblock %}
